@import "header.css";
@import "footer.css";

:root {
  --primary-color: #991397;
  --secondary-color: #ADA6A3;
}

*{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	font-family:+AKA"Times New Roman", Times, serif;
}
.meals {
	display: grid;
	grid-template-column: repeat(2, 1f);
	grid-gap: 10px;
	margin-top: 20px;
}
.meal {
	height: 180px;
	width: 180px;
	cursor: pointer;
	position: relative;
	text-align: center;
}
.meal img {
	height: 100%;
	width: 100%;
	border-radius: 4px;
	border: 4px solid white;
}
.meal-info{
	position: abdolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 0.2s ease-in;
	opacity: 0;
}
.meal:hover .meal-info{
	opacity: 1;
}

main{
	min-height: 80vh;
}
.singleMeal{
	margin: 30px auto;
	width: 70%;
}
.singleMeal img{
	 margin: 15px;
	 border: 4px solid #fff;
	 width: 300px;
	 border-radius: 5px;
}
.singleMealInfo{
	margin: 20px;
	padding: 10px;
	border: 2px dashed #A9852A;
	 border-radius: 5px;
}
.singleMeal p{
	margin: 0;
	line-spacing: 0.5px;
	line-height: 1.6;
}
.singleMeal ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.singleMeal ul li{
	background: white;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	color: dark;
}

/* medium screen responsiveness */
@media and only screen (min-width: 768px) {
	.meals{
		grid-template-column: repeat(3, 1f);
	}
}

/* medium screen responsiveness */
@media and only screen (min-width: 1024px) {
	.meals{
		grid-template-column: repeat(4, 1f);
	}
}